body{
    font-family: 'Montserrat', sans-serif;
    margin : 0;
}

a{
    transition: 300ms;
    color: black;
    text-decoration: none;
}

header{
    transition: 200ms;
    position: fixed;
    background-color: transparent;
    z-index: 2;
    border-bottom: solid 1px white;
    display: flex;
    color: black;
    width: 100vw;
    height: 10vh;
    justify-content: end;
}

.header-p{
    transition: 200ms;
    font-size: 2vw;
    margin-right: 40vw;
    margin-top: 3vh;
    margin-left: 15px;
    width:40vw;
}

.liste{
    text-align: center;
    display: flex;
    justify-items: end;
}

.liste ol{
    position: relative;
    right: 10%;
    width: 150px;
    height: 50px;
    padding-top: 30px;
    padding-left: 0px;
}

.liste ol:hover a{
    transition: 300ms;
    color: rgb(44, 17, 22);
    border-bottom: solid 1px rgb(33, 17, 44);
}

.liste ol{
    transition: 300ms;
    color: black;
}

.corps{
    display: flex;
}

.corps-image{
    position: absolute;
    z-index: 1;
    left: 12vw;
    top: 24vh;
}

.image-texte{
    position: absolute;
    color : white;
    text-align: center;
    padding: 20px;
    width: 15vw;
    height: 20vh;
    bottom: 34vh;
    left: 27vw;
    z-index: 2;
    background-color: rgb(33, 17, 44);
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.paragraphe_1, .paragraphe_2{
    padding-top: 20px;
}

.corps-texte{
    font-size: 20px;
    position: absolute;
    z-index: 1;
    left: 55vw;
    top: 43vh;
    border-left: solid 1px black;
    padding-left: 40px;
    padding-bottom: 20px;
}

.reseaux{
    display: flex;
}
.linkedin{
    border-radius: 5px;
}
.instagram, .github{
    margin-left: 25px;
    border-radius: 5px;
}

.copyright{
    position: absolute;
    z-index: 2;
    margin-top: 90vh;
    text-align: center;
    width: 100vw;
    margin: 0vh, 25vw, 0vh, 25vw;
}

.linkedin:hover, 
.instagram:hover, 
.github:hover{
    transition: 300ms;
    border: solid 1px rgb(33, 17, 44);;
}

@media  screen and (max-width: 960px) {
    .liste ol{
        position: relative;
        right: 10%;
        width: 150px;
        height: 50px;
        padding-top: 20px;
        padding-left: 0px;
    }

    .header-p{
        transition: 200ms;
        font-size: 2vw;
        margin-right: 20vw;
        margin-top: 3vh;
        margin-left: 15px;
        width:40vw;
    }

    .corps-image{
        position: absolute;
        z-index: 1;
        left: 4vw;
        top: 24vh;
    }
    
    .image-texte{
        position: absolute;
        color : white;
        text-align: center;
        padding: 20px;
        width: 20vw;
        height: 20vh;
        bottom: 60vh;
        left: 40vw;
        z-index: 2;
        background-color: rgb(33, 17, 44);
        box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .paragraphe_1, .paragraphe_2{
        padding-top: 10px;
    }

    .corps-texte{
        font-size: 20px;
        position: absolute;
        z-index: 1;
        left: 60vw;
        top: 46vh;
        border-left: solid 1px black;
        padding-left: 40px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 420px){
    body{
        font-family: 'Montserrat', sans-serif;
        margin : 0;
    }
    
    a{
        transition: 300ms;
        color: black;
        text-decoration: none;
    }
    
    header{
        position: absolute;
        transition: 200ms;
        background-color: transparent;
        z-index: 2;
        display: flex;
        color: black;
        width: 100vw;
        height: 10vh;
        justify-content: end;
    }
    
    .header-p{
        transition: 200ms;
        position: absolute;
        font-size: 10vw;

        margin-right: 50vw;
        margin-top: 3vh;
        width:40vw;
    }
    
    .liste{
        text-align: center;
        display: flex;
    }
    
    .liste ol{
        top: 20vh;
        width: 31vw;
        height: 50px;
    }
    
    .liste ol{
        transition: 300ms;
        color: black;
    }
    
    .corps{
        padding-top: 20%;
        display: flex;
        flex-direction: column;
    }
    
    .corps-image{
        position: relative;
        z-index: 1;
        width: 420px;
    }

    .corps-texte{
        font-size: 20px;
        z-index: 1;
        border-left: solid 1px black;
        padding-left: 40px;
        padding-bottom: 20px;
    }

    img{
        position: relative;
        width: 100vw;
    }

    
    .image-texte{
        position: absolute;
        top: 80vh;
        left: 8vw;
        color : white;
        text-align: center;
        padding: 20px;
        width: 300px;
        height: 20vh;
        z-index: 2;
        background-color: rgb(33, 17, 44);
        box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .paragraphe_1, .paragraphe_2{
        position: relative;
        padding-top: 20px;
    }
    
    .corps-texte{
        position: absolute;
        top: 120vh;
        left: 23vw;
        font-size: 15px;
        z-index: 1;
        border-left: white;
    }
    
    .reseaux{
        display: flex;
    }
    
    .copyright{
        position: relative;
        z-index: 2;
        text-align: center;
        width: 100vw;
        margin: 0vh, 25vw, 0vh, 25vw;
    }
}
