body{
    font-family: 'Montserrat', sans-serif;
    margin : 0;
}

a{
    transition: 300ms;
    color: black;
}

header{
    transition: 200ms;
    position: fixed;
    background-color: transparent;
    z-index: 2;
    border-bottom: solid 1px white;
    display: flex;
    color: black;
    width: 100vw;
    height: 10vh;
    justify-content: end;
}

header.active{
    transition: 200ms;
    background-color: rgb(225,227,229);
    border-bottom: rgb(225,227,229);
    z-index: 3;
}

header.active.blanc{
    transition: 300ms;
    background-color: white;
}

.header-p{
    transition: 200ms;
    font-size: 2vw;
    opacity: 0;
    margin-right: 40vw;
    margin-top: 3vh;
    margin-left: 15px;
    width:40vw;
    text-decoration: underline;
}

.header-p.active{
    transition: 300ms;
    opacity: 1;
}

.liste{
    text-align: center;
    display: flex;
    justify-items: end;
}
.image_fond_corps{
    position: absolute;
    z-index: 1;
}
.liste ol{
    position: relative;
    right: 10%;
    width: 150px;
    height: 50px;
    text-decoration: underline;
    padding-top: 30px;
    padding-left: 0px;
}

.liste ol:hover a{
    transition: 300ms;
    color: red;
}

.liste ol{
    transition: 400ms;
    color: black;
}

.projets{
    padding-right: 20px;
}


/* .projet_1{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100vw;
    margin-top: 100vh;
}

.projet_1_detail{
    text-align: center;
    width: 65%;
    border-radius: 10px;
    margin-top: 140vh;
    margin-bottom: 70vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    animation: apparition-droite-gauche 1s ease-out;
    z-index: 2;
}

.projet_1_more{
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    border-radius: 20px;
    width: 30%;
    margin-left: 6vw;
    opacity: 0;
}

.projet_1:hover .projet_1_more{
    animation: apparition-haut-bas-lien 0.2s ease-out;
    opacity: 1;
}

.projet_1_more{
    opacity: 0;
    animation: apparition-bas-haut-lien 0.2s ease-out;
    
}

.illustration_projet_1{
    border-radius: 10px;
    padding: 2%;
    margin-left: 5%;
}
*/



@keyframes apparition-droite-gauche {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes apparition-haut-bas-lien {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes apparition-bas-haut-lien {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes backgroundApparition {
    from{
        background-color: transparent;
    }
    to{
        background-color: white;
    }
    
}

.presentation{
    position: absolute;
    z-index: 2;
    margin-top: 35vh;
    margin-left: 5vw;
}

.presentation p{
    font-size: 55px;
    text-decoration: underline;
}

.presentation .text-presentation{
    width: 55vw;
    font-size: 30px;
    text-decoration: none;
    text-align: right;
    margin-left: 30vw;
}

.projets_corps{
    transition: 200ms;
    position: absolute;
    z-index: 2;
    background-image: url("../assets/technologie.jpg");
    text-align: center;
    top: 135vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 30vh;
    
}

.text-projets{
    font-size: 2.7vw;
    color: white;
    text-decoration: underline;
    margin-top: 12vh;
}

.copyright{
    position: absolute;
    z-index: 2;
    margin-top: 190vh;
    text-align: center;
    width: 100vw;
    margin: 0vh, 25vw, 0vh, 25vw;
}

.annim-projets{
    transition: 200ms;
    position: absolute;
    z-index: 3;
    top: 151vh;
    height: 0vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    background-color: rgba(200, 200, 200, 0.6);
}

.projets_corps:hover{
    transition: 200ms;
    top: 134.5vh;
    box-shadow: 5px 5px 5px grey;

}

@media  screen and (max-width: 960px) {
    .header-p{
        margin-right: 30vw;
    }

}

@media screen and (max-width: 420px) {
    

    
    .header-p{
        margin-right: 0px;
    }

    .liste{
        font-size: 3.9vw; 
        position: absolute;
        top: 20vh;
        left: 10vw;
        text-align: center;
        border-bottom: 3px solid black;
        width: 100vw;
    }

    .liste ol{
        width: 31vw;
        height: 50px;
    }

    header{
        border-bottom: none;
        position: absolute;
    }

    .header-p{
        transition: 200ms;
        font-size: 35px;
        opacity: 1;
        margin-right: 10px;
        margin-top: 5vh;
        margin-left: 15px;
        width:60vw;
        text-decoration: underline;
        position: absolute;
        right: 30vw;
    }

    .presentation{
        position: absolute;
        z-index: 2;
        margin-top: 50vh;
        margin-left: 5vw;
    }
    
    .presentation p{
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-decoration: underline;
    }
    
    .presentation .text-presentation{
        width: 60vw;
        font-size: 20px;
        text-decoration: none;
        text-align: right;
        margin-left: 25vw;
        margin-top: 20%;
    }

    .corps img{
        width: 100vw;
        opacity: 0;
    }
    
    .projets_corps{
        transition: 200ms;
        position: absolute;
        z-index: 2;
        background-image: url("../assets/technologie.jpg");
        text-align: center;
        top: 100vh; 
        margin-left: 0vw;
        width: 100vw;
        height: 30vh;
        margin-right: 0px;
    }

    .text-projets{
        font-size: 6vw;
        color: white;
        text-decoration: underline;
        margin-top: 12vh;
    }

    .projets_corps:hover{
        transition: 200ms;
        top: 0;
        box-shadow: none;
    }

    .copyright{
        position: absolute;
        z-index: 2;
        margin-top: 140vh;
        text-align: center;
        width: 100vw;
        margin: 0vh, 25vw, 0vh, 25vw;
    }
    
}